<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" (click)="gConfigIsCollapsed = !gConfigIsCollapsed">
            Global Configuration
            <div class="pull-right">
                <span class="fa fa-fw fa-exchange fa-size-x2" [style.color]="((serverStatus$ | async)?.WS_connected)?'green':'red'"></span>

                <button class="btn btn-link" (click)="gConfigIsCollapsed = !gConfigIsCollapsed; $event.stopPropagation()">
                    <span *ngIf="gConfigIsCollapsed" class="fa fa-angle-double-right fa-size-x2"></span>
                    <span *ngIf="!gConfigIsCollapsed" class="fa fa-angle-double-down fa-size-x2"></span>
                </button>
            </div>
        </h2>
    </div>
    <div class="panel-body" [collapse]="gConfigIsCollapsed">
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-condensed">
                    <tbody>
                        <tr [ngClass]="{'info': (agentStatus$ | async)?.connected, 'danger': !(agentStatus$ | async)?.connected}">
                            <th><label>XDS local Agent URL</label></th>
                            <td> <input type="text" [(ngModel)]="xdsAgentUrl"></td>
                            <td style="white-space: nowrap">
                                <div class="btn-group">
                                    <button class="btn btn-link" (click)="xdsAgentRestartConn()"><span class="fa fa-refresh fa-size-x2"></span></button>
                                    <dl-xds-agent class="button" [packageUrls]="(config$ | async).xdsAgentPackages"></dl-xds-agent>
                                </div>
                            </td>
                        </tr>
                        <tr class="info">
                            <th><label>Local Agent connection retry</label></th>
                            <td> <input type="text" [(ngModel)]="xdsAgentRetry" (ngModelChange)="showApplyBtn['retry'] = true"></td>
                            <td>
                                <button *ngIf="showApplyBtn['retry']" class="btn btn-primary btn-xs" (click)="submitGlobConf('retry')">APPLY</button>
                            </td>
                        </tr>
                        <tr [ngClass]="{'info': (localSTStatus$ | async)?.connected, 'danger': !(localSTStatus$ | async)?.connected}">
                            <th><label>Local Sync-tool URL</label></th>
                            <td> <input type="text" [(ngModel)]="syncToolUrl"></td>
                            <td>
                                <button class="btn btn-link" (click)="xdsAgentRestartConn()"><span class="fa fa-refresh fa-size-x2"></span></button>
                            </td>
                        </tr>
                        <tr class="info">
                            <th><label>Local Projects root directory</label></th>
                            <td> <input type="text" [(ngModel)]="projectsRootDir" (ngModelChange)="showApplyBtn['rootDir'] = true"></td>
                            <td>
                                <button *ngIf="showApplyBtn['rootDir']" class="btn btn-primary btn-xs" (click)="submitGlobConf('rootDir')">APPLY</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" (click)="sdksIsCollapsed = !sdksIsCollapsed">
            Cross SDKs
            <div class="pull-right">
                <button class="btn btn-link" (click)="childSdkModal.show(); $event.stopPropagation()"><span class="fa fa-plus fa-size-x2"></span></button>

                <button class="btn btn-link" (click)="sdksIsCollapsed = !sdksIsCollapsed; $event.stopPropagation()">
                    <span *ngIf="sdksIsCollapsed" class="fa fa-angle-double-right fa-size-x2"></span>
                    <span *ngIf="!sdksIsCollapsed" class="fa fa-angle-double-down fa-size-x2"></span>
                </button>
            </div>
        </h2>
    </div>
    <div class="panel-body" [collapse]="sdksIsCollapsed">
        <div class="row col-xs-12">
            <sdks-list-accordion [sdks]="(sdks$ | async)"></sdks-list-accordion>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title" (click)="projectsIsCollapsed = !projectsIsCollapsed; $event.stopPropagation()">
            Projects
            <div class="pull-right">
                <button class="btn btn-link" (click)="childProjectModal.show(); $event.stopPropagation()"><span class="fa fa-plus fa-size-x2"></span></button>

                <button class="btn btn-link" (click)="projectsIsCollapsed = !projectsIsCollapsed; $event.stopPropagation()">
                        <span *ngIf="projectsIsCollapsed" class="fa fa-angle-double-right fa-size-x2"></span>
                        <span *ngIf="!projectsIsCollapsed" class="fa fa-angle-double-down fa-size-x2"></span>
                </button>
            </div>
        </h2>
    </div>
    <div class="panel-body" [collapse]="projectsIsCollapsed">
        <div class="row col-xs-12">
            <projects-list-accordion [projects]="(config$ | async).projects"></projects-list-accordion>
        </div>
    </div>
</div>

<!-- Modals -->
<project-add-modal #childProjectModal [title]="'Add a new project'">
</project-add-modal>
<sdk-add-modal  #childSdkModal [title]="'Add a new SDK'">
</sdk-add-modal>

<!-- only for debug -->
<div *ngIf="false" class="row">
    {{config$ | async | json}}
</div>
