<div class="row">
    <div class="col-md-8">
        <table class="table table-borderless table-center">
            <tbody>
                <tr>
                    <th style="border: none;">Project</th>
                    <td>
                        <div class="btn-group" dropdown *ngIf="curPrj">
                            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle" style="width: 20em;">
                    {{curPrj.label}} <span class="caret" style="float: right; margin-top: 8px;"></span>
                                    </button>
                            <ul *dropdownMenu class="dropdown-menu" role="menu">
                                <li role="menuitem"><a class="dropdown-item" *ngFor="let prj of (config$ | async)?.projects" (click)="curPrj=prj">{{prj.label}}</a>
                                </li>
                            </ul>
                        </div>
                        <span *ngIf="!curPrj" style="color:red; font-style: italic;">
                            No project detected, please create first a project using the configuration page.
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <panel-build [curProject]=curPrj></panel-build>
    </div>
    <!-- TODO: disable for now
    <div class="col-md-4">
        <panel-deploy [curProject]=curPrj></panel-deploy>
    </div>
    -->
</div>