.navbar {
    background-color: whitesmoke;
}

.navbar-brand {
    font-size: x-large;
    font-variant: small-caps;
    color: #5a28a1;
}

a.navbar-brand {
    margin-top: 5px;
}


.navbar-nav ul li a {
    color: #fff;
}

.menu-text {
    color: #fff;
}

#logo-iot {
    padding: 0 2px;
    height: 60px;
}

li>a {
    color:#5a28a1;
}
