[Unit]
Description=XDS Server

[Service]
Type=forking
EnvironmentFile=-/etc/default/xds-server
ExecStart=/opt/AGL/xds/server/xds-server-start.sh
ExecStop=/opt/AGL/xds/server/xds-server-stop.sh

[Install]
WantedBy=default.target
