[Unit]
Description=XDS Server

[Service]
EnvironmentFile=-/etc/default/xds-server
ExecStart=/opt/AGL/bin/xds-server

[Install]
WantedBy=default.target
