<div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="panel-title">Deployment</h2>
    </div>
    <div class="panel-body">
        <form [formGroup]="deployForm">
            <div class="col-xs-12">
                <table class="table table-borderless table-center">
                    <tbody>
                        <tr>
                            <th>Board IP</th>
                            <td> <input type="text" style="width:99%;" formControlName="boardIP" placeholder="1.2.3.4"> </td>
                        </tr>
                        <tr>
                            <th>File to deploy</th>
                            <td> <input type="text" style="width:99%;" formControlName="wgtFile"> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="col-xs-12 text-center">
                    <div class="btn-group blocks">
                        <button class="btn btn-primary btn-large" (click)="deploy()" [disabled]="!curProject ">Deploy</button>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>